@charset "UTF-8";
/*inner-width*/
/*inner-width*/
/*myresume中的颜色*/
h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

* {
  margin: 0px;
  padding: 0px;
  position: relative;
  list-style-type: none;
  box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 400; }

a {
  text-decoration: none; }

img {
  border: none; }

/*上下左右居中的混合宏*/
/*上下居中的混合宏*/
/*左右居中的混合宏*/
/*yuan的混合宏*/
/*带参数左右浮动的混合宏*/
/*div的混合宏*/
/*box-shadow的混合宏*/
/*image路径*/
a {
  color: #fff;
  font-size: 12px; }
  a:hover {
    color: #c00; }

/*font line-height的混合宏*/
* {
  margin: 0px;
  padding: 0px;
  position: relative;
  list-style-type: none;
  box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  border: none; }

.center {
  width: 100%;
  height: 1039px;
  background: #F4F4F4; }
  .center .nei {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #fff; }
    .center .nei .centerh {
      width: 460px;
      height: 175px; }
      .center .nei .centerh span {
        display: block;
        margin-left: 174px;
        line-height: 175px; }
      .center .nei .centerh a {
        display: block;
        width: 86px;
        height: 86px;
        position: absolute;
        right: 80px;
        top: 58px; }
    .center .nei .nc {
      width: 100%;
      height: 32px; }
      .center .nei .nc .ni {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .nc .ni a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .nc .input1 {
        width: 180px;
        height: 32px;
        float: left; }
      .center .nei .nc .xb {
        width: 129px;
        height: 100%;
        float: left; }
      .center .nei .nc .xb a {
        display: block;
        width: 129px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .nc .ss img {
        width: 13px;
        height: 11px;
        position: absolute;
        left: 45px;
        z-index: 10;
        top: 10px; }
      .center .nei .nc .mn {
        width: 63px;
        height: 32px;
        border-radius: 10%;
        padding-left: 15px;
        float: left; }
      .center .nei .nc .nl {
        width: 143px;
        height: 100%;
        float: left; }
      .center .nei .nc .nl a {
        display: block;
        width: 143px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .nc .sui {
        width: 63px;
        height: 32px;
        border-radius: 10%;
        padding-left: 15px;
        float: left; }
    .center .nei .qm {
      width: 260px;
      height: 32px;
      float: left;
      margin-top: 33px; }
    .center .nei .qm a {
      display: block;
      line-height: 32px;
      margin-left: 175px; }
    .center .nei .kk {
      width: 420px;
      height: 70px;
      border: 1px solid #ccc;
      border-radius: 3%;
      float: left;
      margin-top: 30px;
      margin-bottom: 60px; }
    .center .nei .tt {
      width: 100%;
      height: 32px;
      float: left; }
      .center .nei .tt .true {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .tt .true a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .tt .input2 {
        width: 180px;
        height: 32px;
        float: left; }
      .center .nei .tt .sf {
        width: 129px;
        height: 100%;
        float: left; }
      .center .nei .tt .sf a {
        display: block;
        width: 129px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .tt .jz {
        width: 372px;
        height: 32px;
        border-radius: 3%;
        padding-left: 15px;
        float: left; }
    .center .nei .qz {
      width: 100%;
      height: 32px;
      margin-top: 20px;
      float: left; }
      .center .nei .qz .true1 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .qz .true1 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .qz .jh {
        width: 134px;
        height: 32px;
        border-radius: 3%;
        padding-left: 14px;
        float: left; }
      .center .nei .qz .qz1 {
        width: 129px;
        height: 100%;
        float: left; }
      .center .nei .qz .qz1 a {
        display: block;
        width: 129px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .qz .sx {
        width: 91px;
        height: 32px;
        border-radius: 4%;
        padding-left: 15px;
        float: left; }
      .center .nei .qz .ty {
        width: 91px;
        height: 32px;
        border-radius: 4%;
        padding-left: 15px;
        float: left; }
    .center .nei .mb {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      float: left; }
      .center .nei .mb .true2 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .mb .true2 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .mb .mony {
        width: 134px;
        height: 32px;
        border-radius: 3%;
        padding-left: 14px;
        float: left; }
    .center .nei .sh {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      float: left; }
      .center .nei .sh .true3 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .sh .true3 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .sh .input3 {
        width: 180px;
        height: 32px;
        float: left; }
      .center .nei .sh .simg img {
        width: 99px;
        height: 32px;
        float: left;
        margin-left: 30px; }
    .center .nei .yx {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      margin-bottom: 64px;
      float: left; }
      .center .nei .yx .true4 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .yx .true4 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .yx .input4 {
        width: 180px;
        height: 32px;
        float: left; }
      .center .nei .yx .simg1 img {
        width: 99px;
        height: 32px;
        float: left;
        margin-left: 30px; }
    .center .nei .by {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      float: left; }
      .center .nei .by .true5 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .by .true5 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .by .input4 {
        width: 180px;
        height: 32px;
        float: left; }
      .center .nei .by .zy {
        width: 129px;
        height: 100%;
        float: left; }
      .center .nei .by .zy a {
        display: block;
        width: 129px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .by .input5 {
        width: 180px;
        height: 32px;
        float: left; }
    .center .nei .sj {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      float: left; }
      .center .nei .sj .true6 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .sj .true6 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .sj .mnn {
        width: 134px;
        height: 32px;
        border-radius: 3%;
        padding-left: 14px;
        float: left; }
      .center .nei .sj .xl {
        width: 129px;
        height: 100%;
        float: left; }
      .center .nei .sj .xl a {
        display: block;
        width: 129px;
        height: 100%;
        text-align: center;
        line-height: 32px; }
      .center .nei .sj .gz {
        width: 123px;
        height: 32px;
        border-radius: 3%;
        padding-left: 14px;
        float: left; }
    .center .nei .gj {
      width: 100%;
      height: 32px;
      margin-top: 25px;
      float: left;
      margin-bottom: 81px; }
      .center .nei .gj .true7 {
        width: 260px;
        height: 100%;
        float: left; }
      .center .nei .gj .true7 a {
        display: block;
        line-height: 32px;
        margin-left: 175px; }
      .center .nei .gj .yj {
        width: 123px;
        height: 32px;
        border-radius: 3%;
        padding-left: 14px;
        float: left; }
    .center .nei .jj {
      width: 100%;
      height: 43px;
      float: left; }
      .center .nei .jj .jj1 {
        width: 50%;
        height: 43px;
        float: left; }
      .center .nei .jj .jj1 a {
        display: block;
        margin-left: 413px; }
      .center .nei .jj .jj2 {
        width: 50%;
        height: 43px;
        float: right; }
      .center .nei .jj .jj2 a {
        display: block;
        margin-left: 40px; }
  .center a {
    color: #8E8E8E;
    font-size: 14px; }
  .center a:hover {
    color: #8E8E8E; }
