@charset "UTF-8";
/*inner-width*/
/*myresume中的颜色*/
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

* {
  margin: 0px;
  padding: 0px;
  position: relative;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

/*上下左右居中的混合宏*/
/*上下居中的混合宏*/
/*左右居中的混合宏*/
/*yuan的混合宏*/
/*带参数左右浮动的混合宏*/
/*div的混合宏*/
/*box-shadow的混合宏*/
/*image路径*/
a {
  color: #fff;
  font-size: 12px;
}

a:hover {
  color: #c00;
}

/*font line-height的混合宏*/
body {
  background: #f4f4f4;
}

#cedao {
  z-index: 2;
  width: 67px;
  height: 988px;
  background: rgba(12, 43, 56, 0.7);
  position: fixed;
  right: 0;
  top: 0;
}

#cedao .photo {
  width: 66px;
  height: 106px;
  margin-top: 55px;
  position: relative;
}

#cedao .photo span {
  position: absolute;
  top: 0;
  left: -86px;
  display: none;
}

#cedao .photo:hover span {
  display: block;
}

#cedao ul {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

#cedao ul li {
  padding-left: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  position: relative;
}

#cedao ul li span {
  position: absolute;
  top: 0;
  left: -86px;
  display: none;
}

#cedao ul li:nth-last-child(2) {
  margin-top: 50px;
}

#cedao ul li:last-child {
  margin-top: 30px;
}

#cedao ul li:nth-of-type(1):hover span {
  display: block;
}

#cedao ul li:nth-of-type(2):hover span {
  display: block;
}

#cedao ul li:nth-of-type(3):hover span {
  display: block;
}

#cedao ul li:nth-of-type(4):hover span {
  display: block;
}

#cedao ul li:nth-of-type(5):hover span {
  display: block;
}

#cedao ul li:nth-of-type(6):hover span {
  display: block;
}

#cedao ul li:nth-of-type(7):hover span {
  display: block;
}

.header {
  width: 100%;
  height: 144px;
  background: #0C4F69;
  background-color: rgba(33, 90, 107, 0.91);
  overflow: hidden;
}

.header .head-center {
  width: 1200px;
  height: 100%;
  background: transparent;
  margin: 0px auto;
  z-index: 10;
}

.header .head-center li {
  float: left;
}

.header .head-center .logo {
  width: 76px;
  height: 100%;
  padding: 10px;
  background: url("../images/footer/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px 0px 10px 15px;
}

.header .head-center .head-nav {
  height: 100%;
  line-height: 100%;
  padding: 15px;
  margin: 0px 15px 0px 15px;
}

.header .head-center .head-nav .nav {
  margin-top: 28px;
}

.header .head-center .head-nav .nav li {
  width: 143px;
  height: auto;
  float: left;
  border-right: 1px dashed #ccc;
  line-height: 1.5;
  text-transform: capitalize;
  margin: 5px 10px 6px 15px;
}

.header .head-center .head-nav .nav li a {
  display: block;
  font-size: 14px;
}

.header .head-center .head-nav .nav li a .top-title {
  color: #bdbebe;
}

.header .head-center .head-nav .nav li a .line {
  position: relative;
  width: 69px;
  border: 1px solid #707577;
  margin: 5px 0px;
}

.header .head-center .head-nav .nav li a .line .color {
  position: absolute;
  width: 15px;
  border: 1px solid #ffcd1f;
  top: -1px;
  right: 0px;
}

.header .head-center .head-nav .nav li a .bottom-title {
  color: #fff;
  letter-spacing: 2px;
}

.header .head-center .head-nav .circle-nav {
  width: 60px;
  margin-left: 15px;
}

.header .head-center .head-nav .circle-nav .first {
  display: inline-block;
  width: 33px;
  height: 5px;
  background: #FFCD1F;
  margin: 2px 0px;
  border-radius: 5px;
}

.header .head-center .head-nav .circle-nav .last {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffcd1f;
  margin: 2px 0px 2px 3px;
}

.header .head-center .head-right {
  width: 360px;
  height: 41px;
  border: 1px solid #b6c6ce;
  border-radius: 19px;
  margin-top: 53px;
  position: relative;
  overflow: hidden;
}

.header .head-center .head-right .circle-right {
  width: 36px;
  height: 22px;
  float: left;
  line-height: 41px;
  margin: 9px 0px 6px 6px;
  border-right: 1px solid #7596a6;
}

.header .head-center .head-right .circle-right .last {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffcd1f;
  position: absolute;
  left: 5px;
  top: 9px;
}

.header .head-center .head-right .head-xz {
  display: block;
  width: 75px;
  height: 36px;
  float: right;
  background: url("../images/comlist/an-xz.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 3px;
}

.banner {
  width: 100%;
  height: 470px;
  margin: 0px auto;
  position: relative;
}

.banner img {
  width: 100%;
  height: 470px;
}

.center {
  width: 1200px;
  height: 500px;
  border-radius: 25px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 240px;
  margin-left: -600px;
}

.center .center1 {
  width: 1200px;
  height: 70px;
  position: relative;
}

.center .center1 .UI {
  width: 260px;
  height: 80px;
  border-radius: 10px;
  background: #1893d1;
  position: absolute;
  left: 42px;
  top: -10px;
}

.center .center1 .UI span {
  font-size: 10px;
  padding: 30px 30px;
  color: #fff;
}

.center .center1 .UI h1 {
  color: #fff;
  padding: 5px 30px;
}

.center .center2 {
  width: 1200px;
  height: 355px;
  margin-left: 42px;
  margin-top: 5px;
  position: relative;
}

.center .center2 .qian {
  width: 24px;
  height: 24px;
  background: url(../images/zhaopin/qian.png);
  float: left;
}

.center .center2 a {
  color: #000;
  font-size: 20px;
  float: left;
}

.center .center2 a span {
  margin-right: 10px;
  color: red;
}

.center .center2 .lihe {
  width: 24px;
  height: 24px;
}

.center .center2 .xinzi {
  color: #999999;
  font-size: 20px;
}

.center .center2 .uek {
  margin-top: 20px;
}

.center .center2 .uek span {
  color: #78e0ac;
  font-size: 16px;
}

.center .center2 .ing {
  position: absolute;
  right: 200px;
  top: -60px;
}

.center .center2 .ing span {
  font-size: 16px;
  color: #5085a4;
}

.center .center2 .ing span span {
  font-size: 40px;
  color: #10c8f0;
}

.center .center2 .jianli {
  width: 184px;
  height: 51px;
  position: absolute;
  right: 170px;
  top: 0px;
  background: url(../images/zhaopin/jianli.png);
}

.center .center2 .fb {
  width: 1000px;
  height: 160px;
  border: 1px dashed #dfdfdf;
  margin-top: 50px;
  position: relative;
}

.center .center2 .fb .fbfont {
  position: absolute;
  left: 500px;
  top: -10px;
  color: #c2c2c2;
  background: #fff;
}

.center .center2 .fb .xuhu {
  width: 146px;
  height: 141px;
  background: url(../images/zhaopin/xuhu.png);
  position: absolute;
  left: 15px;
  top: 10px;
}

.center .center2 .fb .xhfont {
  color: #999999;
  position: absolute;
  left: 185px;
  top: 70px;
}

.center .center2 .fb .xhfont h1 {
  color: #333333;
}

.center .center2 .fb .company {
  position: absolute;
  left: 485px;
  top: 80px;
  color: #c2c2c2;
}

.center .center2 .fb .sixin {
  width: 165px;
  height: 50px;
  position: absolute;
  right: 60px;
  top: 50px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  background: #5bdb9d;
}

.content {
  width: 1200px;
  height: 1900px;
  background: #fff;
  border-radius: 25px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.content .Jobdescription {
  margin-top: 50px;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}

.content .Jobdescription .zhiwei {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 70px;
  font-size: 30px;
  color: #5bdb9d;
}

.content .Jobdescription .description {
  position: absolute;
  left: 62px;
  top: 110px;
  color: #666;
  font-size: 16px;
  font-family: "微软雅黑";
}

.content .Jobdescription .description span {
  font-size: 20px;
  color: #000;
}

.content .Jobdescription .description .job {
  color: #74c783;
}

.content .Jobdescription .description .bb {
  color: #585757;
  font-weight: 800;
}

.content .Jobrequirements {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}

.content .Jobrequirements .requirements {
  position: absolute;
  left: 62px;
  top: 20px;
  color: #666;
  font-size: 16px;
}

.content .Jobrequirements .requirements span {
  font-size: 20px;
  color: #000;
}

.content .Jobrequirements .requirements .job {
  color: #74c783;
}

.content .Jobrequirements .requirements .bb {
  color: #585757;
  font-weight: 800;
}

.content .Workplace {
  width: 100%;
  height: 455px;
  border-bottom: 10px solid #dfdfdf;
  position: relative;
}

.content .Workplace .didian {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 30px;
  color: #5bdb9d;
}

.content .Workplace .place {
  position: absolute;
  left: 62px;
  top: 350px;
  color: #666;
  font-size: 16px;
}

.content .Workplace .map {
  width: 1023px;
  height: 282px;
  position: absolute;
  left: 62px;
  top: 80px;
}

.content .briefintroduction {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}

.content .briefintroduction .jianjie {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 30px;
  color: #5bdb9d;
}

.content .briefintroduction .introduction {
  position: absolute;
  left: 62px;
  top: 52px;
  color: #666;
  font-size: 16px;
}

.content .Enterpriseintroduction {
  width: 100%;
  height: 760px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}

.content .Enterpriseintroduction .qiye {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 12px;
  font-size: 30px;
  color: #5bdb9d;
}

.content .Enterpriseintroduction .iseintroduction {
  position: absolute;
  left: 62px;
  top: 52px;
  color: #666;
  font-size: 16px;
}

.content .Enterpriseintroduction .com {
  position: absolute;
  left: 62px;
  top: 262px;
}

.content .Enterpriseintroduction .com img {
  float: left;
  margin-right: 5px;
}

.content .Enterprisewebsite {
  width: 100%;
  height: 110px;
  position: relative;
}

.content .Enterprisewebsite .wangzhan {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 30px;
  color: #5bdb9d;
}

.content .Enterprisewebsite .wangzhi {
  position: absolute;
  left: 72px;
  top: 72px;
}

.content .Enterprisewebsite .wangzhi a {
  font-size: 20px;
  color: #10c3ea;
}

.comment {
  width: 1200px;
  height: 310px;
  background: #fff;
  border-radius: 15px;
  margin: 20px auto;
  border-top: 3px solid #10c3ea;
  position: relative;
}

.comment .people {
  position: absolute;
  right: -30px;
  top: 50px;
}

.comment .start {
  position: absolute;
  left: 380px;
  top: 42px;
}

.comment .hulu {
  position: absolute;
  left: 72px;
  top: 25px;
}

.comment .bao {
  position: absolute;
  left: 222px;
  top: 25px;
  font-size: 40px;
  color: #3f3e3e;
}

.comment .bao span {
  font-size: 20px;
  font-weight: 800;
}

.comment .bao .hulianwang {
  width: 65px;
  height: 20px;
  background: #ffc453;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 300px;
  top: 25px;
}

.comment .bao .app {
  width: 65px;
  height: 20px;
  background: #ff6a91;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 370px;
  top: 25px;
}

.comment .bao .kehuduan {
  width: 65px;
  height: 20px;
  background: #3ce694;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 440px;
  top: 25px;
}

.comment .de {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 72px;
  top: 150px;
}

.comment .de .suo {
  width: 90px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  line-height: 22px;
  text-align: center;
  float: left;
  font-weight: 800;
}

.comment .de .hangye {
  margin-left: 50px;
  float: left;
}

.comment .de .qi {
  width: 90px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  line-height: 22px;
  text-align: center;
  font-weight: 800;
  position: absolute;
  left: 0px;
  top: 30px;
}

.comment .de .lei {
  margin-left: 50px;
  position: absolute;
  left: 90px;
  top: 30px;
}

.comment .de .gui {
  width: 90px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  line-height: 22px;
  text-align: center;
  font-weight: 800;
  position: absolute;
  left: 0px;
  top: 60px;
}

.comment .de .mo {
  margin-left: 50px;
  position: absolute;
  left: 90px;
  top: 60px;
}

.comment .de .di {
  width: 90px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  line-height: 22px;
  text-align: center;
  font-weight: 800;
  position: absolute;
  left: 0px;
  top: 90px;
}

.comment .de .zhi {
  margin-left: 50px;
  position: absolute;
  left: 90px;
  top: 90px;
}

.comment .de .wang {
  width: 90px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  line-height: 22px;
  text-align: center;
  font-weight: 800;
  position: absolute;
  left: 0px;
  top: 120px;
}

.comment .de .www {
  margin-left: 50px;
  position: absolute;
  left: 90px;
  top: 120px;
  color: #91ccf9;
}

.recruit {
  width: 1200px;
  height: 430px;
  background: #fff;
  border-radius: 15px;
  margin: 0px auto;
  border-top: 3px solid #10c3ea;
  position: relative;
}

.recruit .xiangxi {
  margin-left: 42px;
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 30px;
  color: #5bdb9d;
}

.recruit .ka {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  left: 40px;
  top: 115px;
}

.recruit .ka .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka .money :nth-child(1) {
  color: red;
}

.recruit .ka .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.recruit .ka2 {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  right: 56px;
  top: 115px;
}

.recruit .ka2 .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka2 .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka2 .money :nth-child(1) {
  color: red;
}

.recruit .ka2 .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka2 .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.recruit .ka3 {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  left: 40px;
  top: 220px;
}

.recruit .ka3 .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka3 .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka3 .money :nth-child(1) {
  color: red;
}

.recruit .ka3 .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka3 .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.recruit .ka4 {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  right: 56px;
  top: 220px;
}

.recruit .ka4 .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka4 .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka4 .money :nth-child(1) {
  color: red;
}

.recruit .ka4 .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka4 .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.recruit .ka5 {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  left: 40px;
  top: 320px;
}

.recruit .ka5 .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka5 .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka5 .money :nth-child(1) {
  color: red;
}

.recruit .ka5 .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka5 .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.recruit .ka6 {
  width: 540px;
  height: 70px;
  border: 1px solid #dfdfdf;
  border-left: 2px solid #00b38a;
  position: absolute;
  right: 56px;
  top: 320px;
}

.recruit .ka6 .Designer {
  margin-top: 10px;
  margin-left: 10px;
  color: #00b38a;
  font-size: 20px;
}

.recruit .ka6 .money {
  margin-left: 10px;
  color: #716773;
  font-size: 16px;
}

.recruit .ka6 .money :nth-child(1) {
  color: red;
}

.recruit .ka6 .money :nth-child(2) {
  margin-left: 15px;
}

.recruit .ka6 .time {
  position: absolute;
  right: 30px;
  top: 20px;
}

.footer {
  width: 100%;
  height: 304px;
  background: #2d2d2d;
}

.Dibu {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.Dbt {
  margin: 77px 0 0 58px;
  float: left;
}

.Dsx {
  width: 1px;
  height: 131px;
  background: #666;
  margin: 79px 0 0 66px;
  float: left;
}

.Dian1 {
  position: absolute;
  left: 198px;
  top: 66px;
  color: #eee;
  font-size: 16px;
}

.Dian2 {
  position: absolute;
  left: 198px;
  top: 200px;
  color: #eee;
  font-size: 16px;
}

.Dgywm {
  width: 700px;
  height: auto;
  float: left;
  margin-top: 79px;
  margin-left: 42px;
}

.Dgywm li a {
  font-size: 16px;
  float: left;
  color: #999;
  margin-right: 42px;
}

.Dgywm li a:hover {
  color: #fff;
}

.Dgywm li span {
  color: #666;
}

.Dgywm li p {
  color: #666;
  font-size: 14px;
  margin-top: 15px;
}

.Dgywm li img {
  margin-top: 20px;
  margin-right: 22px;
}

.Dlsfk {
  width: 142px;
  height: 142px;
  background: #25b0ff;
  float: right;
  margin-top: 71px;
}
