@charset "UTF-8";
@import url(base.css);
body {
  background: #f4f4f4;
}

* {
  font-family: "微软雅黑";
}

/*font line-height的混合宏*/
#cedao {
  width: 67px;
  height: 988px;
  background: rgba(12, 43, 56, 0.7);
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
}

#cedao .photo {
  width: 66px;
  height: 106px;
  margin-top: 55px;
  position: relative;
}

#cedao .photo span {
  position: absolute;
  top: 0;
  left: -86px;
  display: none;
}

#cedao .photo:hover span {
  display: block;
}

#cedao ul {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

#cedao ul li {
  padding-left: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  position: relative;
}

#cedao ul li span {
  position: absolute;
  top: 0;
  left: -86px;
  display: none;
}

#cedao ul li:nth-last-child(2) {
  margin-top: 50px;
}

#cedao ul li:last-child {
  margin-top: 30px;
}

#cedao ul li:nth-of-type(1):hover span {
  display: block;
}

#cedao ul li:nth-of-type(2):hover span {
  display: block;
}

#cedao ul li:nth-of-type(3):hover span {
  display: block;
}

#cedao ul li:nth-of-type(4):hover span {
  display: block;
}

#cedao ul li:nth-of-type(5):hover span {
  display: block;
}

#cedao ul li:nth-of-type(6):hover span {
  display: block;
}

#cedao ul li:nth-of-type(7):hover span {
  display: block;
}

/*header*/
#head {
  width: 100%;
  height: 835px;
  background: url("../images/comlist/banner.png");
  background-size: 100% 835px;
  background-color: rgba(33, 90, 107, 0.91);
  opacity: .75;
  z-index: 0;
}

.header {
  width: 100%;
  height: 144px;
  background: #0C4F69;
  background-color: rgba(33, 90, 107, 0.91);
  overflow: hidden;
}

.header .head-center {
  width: 1200px;
  height: 100%;
  background: transparent;
  margin: 0px auto;
  z-index: 10;
}

.header .head-center li {
  float: left;
}

.header .head-center .logo {
  width: 76px;
  height: 100%;
  padding: 10px;
  background: url("../images/footer/logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px 0px 10px 15px;
}

.header .head-center .head-nav {
  height: 100%;
  line-height: 100%;
  padding: 15px;
  margin: 0px 15px 0px 15px;
}

.header .head-center .head-nav .nav {
  margin-top: 28px;
}

.header .head-center .head-nav .nav li {
  width: 143px;
  height: auto;
  float: left;
  border-right: 1px dashed #ccc;
  line-height: 1.5;
  text-transform: capitalize;
  margin: 5px 10px 6px 15px;
}

.header .head-center .head-nav .nav li a {
  display: block;
  font-size: 14px;
}

.header .head-center .head-nav .nav li a .top-title {
  color: #bdbebe;
}

.header .head-center .head-nav .nav li a .line {
  position: relative;
  width: 69px;
  border: 1px solid #707577;
  margin: 5px 0px;
}

.header .head-center .head-nav .nav li a .line .color {
  position: absolute;
  width: 15px;
  border: 1px solid #ffcd1f;
  top: -1px;
  right: 0px;
}

.header .head-center .head-nav .nav li a .bottom-title {
  color: #fff;
  letter-spacing: 2px;
}

.header .head-center .head-nav .circle-nav {
  width: 60px;
  margin-left: 15px;
}

.header .head-center .head-nav .circle-nav .first {
  display: inline-block;
  width: 33px;
  height: 5px;
  background: #FFCD1F;
  margin: 2px 0px;
  border-radius: 5px;
}

.header .head-center .head-nav .circle-nav .last {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffcd1f;
  margin: 2px 0px 2px 3px;
}

.header .head-center .head-right {
  width: 360px;
  height: 41px;
  border: 1px solid #b6c6ce;
  border-radius: 19px;
  margin-top: 53px;
  position: relative;
  overflow: hidden;
}

.header .head-center .head-right .circle-right {
  width: 36px;
  height: 22px;
  float: left;
  line-height: 41px;
  margin: 9px 0px 6px 6px;
  border-right: 1px solid #7596a6;
}

.header .head-center .head-right .circle-right .last {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffcd1f;
  position: absolute;
  left: 5px;
  top: 9px;
}

.header .head-center .head-right .head-xz {
  display: block;
  width: 75px;
  height: 36px;
  float: right;
  background: url("../images/comlist/an-xz.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: 3px;
}

.Dbxt {
  width: 900px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  z-index: 666;
}

.Dbxt .Dct0 {
  width: 900px;
  position: absolute;
  left: 0;
  top: -100px;
}

.Dct1 {
  width: 895px;
  position: absolute;
  left: 0;
  top: -80px;
}

.Dct2 {
  width: 800px;
  position: absolute;
  left: 50px;
  top: -25px;
}

/*搜索*/
.Dss {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.Dss input:nth-child(1) {
  width: 990px;
  height: 80px;
  border: 1px solid #e5e5e5;
  float: left;
  font-size: 20px;
  color: #999;
  background: #f4f4f4;
  padding-left: 30px;
}

.Dss input:nth-child(2) {
  width: 178px;
  height: 80px;
  border: none;
  background: #40d1f1;
  float: right;
  font-size: 38px;
  color: #fff;
  cursor: pointer;
}

/*下拉*/
.Dxiala {
  width: 1200px;
  height: 33px;
  margin: 48px auto 52px;
}

.Dblk {
  width: 227px;
  height: 33px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-right: 16px;
  background: #f4f4f4;
  overflow: hidden;
}

.Dxiala select {
  width: 243px;
  height: 31px;
  border: none;
  background-image: url(../images/zhiweilist/xiabiao.png);
  background-repeat: no-repeat;
  background-position: 215px 21px;
  background-color: #f4f4f4;
}

.Dxiala .Dblk:nth-child(5) {
  margin-right: 0px;
}

.Dbox {
  width: 1200px;
  height: 1024px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}

.Dhezi {
  width: 100%;
  height: 169px;
}

.Dimg {
  width: 112px;
  height: 112px;
  border: 1px solid #e5e5e5;
  margin: 28px 0 0 32px;
  float: left;
}

.Dxbk {
  width: 1131px;
  height: 1px;
  background: #E5E5E5;
  margin-left: 33px;
  margin-top: 28px;
  float: left;
}

.Dzw {
  width: 250px;
  height: 110px;
  margin: 29px 0 0 47px;
  float: left;
  line-height: 38px;
}

.Dzw p {
  color: #333;
}

.Dzw p span {
  color: #f2d76d;
}

.Dsg {
  width: 1px;
  height: 88px;
  background: #e5e5e5;
  margin: 38px 0 0 156px;
  float: left;
}

.Dzw p:nth-child(3) {
  font-size: 14px;
}

.Dkb {
  width: 190px;
  height: 110px;
  margin: 29px 0 0 46px;
  float: left;
  line-height: 38px;
}

.Dkb p {
  color: #333;
}

.Dbyd {
  margin-top: 6px;
  width: 182px;
  height: 22px;
}

.Dkb .Dbyd a {
  font-size: 12px;
  display: block;
  border: 1px solid #e5e5e5;
  float: left;
  width: 58px;
  height: 22px;
  margin-right: 4px;
  text-align: center;
  line-height: 22px;
  border-radius: 5px;
  color: #333;
}

.Dbyd a:nth-child(3) {
  margin: 0;
}

.Danniu {
  width: 138px;
  height: 42px;
  background: #40d1f1;
  float: right;
  margin: 53px 25px 0 0;
  border-radius: 10px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.Dymtz {
  width: 100%;
  height: 177px;
}

.Dymtz .Dtz {
  width: 530px;
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
}

.Dtz li {
  float: left;
  color: #333;
  margin-right: 11px;
  cursor: pointer;
}

.Dtz .Dytsz {
  border: 1px solid #e5e5e5;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}

.Dytfk {
  width: 38px;
  height: 22px;
  border: 1px solid #e5e5e5;
}

.Dtjqy {
  width: 1200px;
  height: 169px;
  margin: 0 auto;
  overflow: hidden;
}

.Dtjqy img {
  margin: 74px 0 0 10px;
  float: left;
}

.Dtjqy p {
  float: left;
  line-height: 195px;
  color: #666;
  font-size: 20px;
  margin-left: 5px;
  font-weight: bold;
}

.Dct {
  width: 1200px;
  height: 425px;
  margin: 0 auto;
}

.Dct-box {
  width: 279px;
  height: 279px;
  float: left;
  border-radius: 10px;
  background: green;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-right: 28px;
}

.Dct-box:nth-child(4) {
  margin-right: 0;
}

.Dzhao {
  width: 100%;
  height: 100%;
  border: 1px solid #E5E5E5;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  transform: translateY(279px);
  transition: all 0.8s;
}

.Dzhao h3 {
  padding-top: 49px;
}

.Dhg {
  width: 34px;
  height: 1px;
  margin: 18px auto;
  background: #fff;
}

.Dzhao span {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  width: 123px;
  height: 34px;
  display: block;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  margin: 42px auto 0;
}

.Dct-box:hover .Dzhao {
  transform: translateY(0px);
}

.footer {
  width: 100%;
  height: 304px;
  background: #2d2d2d;
}

.Dibu {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.Dbt {
  margin: 77px 0 0 58px;
  float: left;
}

.Dsx {
  width: 1px;
  height: 131px;
  background: #666;
  margin: 79px 0 0 66px;
  float: left;
}

.Dian1 {
  position: absolute;
  left: 198px;
  top: 66px;
  color: #eee;
  font-size: 16px;
}

.Dian2 {
  position: absolute;
  left: 198px;
  top: 200px;
  color: #eee;
  font-size: 16px;
}

.Dgywm {
  width: 700px;
  height: auto;
  float: left;
  margin-top: 77px;
  margin-left: 42px;
}

.Dgywm li a {
  font-size: 16px;
  float: left;
  color: #999;
  margin-right: 42px;
  z-index: 666;
}

.Dgywm li a:hover {
  color: #c00;
}

.Dgywm li span {
  color: #666;
}

.Dgywm li p {
  color: #666;
  font-size: 14px;
  margin-top: 15px;
}

.Dgywm li img {
  margin-top: 20px;
  margin-right: 22px;
}

.Dlsfk {
  width: 142px;
  height: 142px;
  background: #25b0ff;
  float: right;
  margin-top: 71px;
}
