@import "base";
@import url("base.css");
@mixin square($width,$height,$background){
    width:$width;
    height:$height;
    background:$background;
}
$box-shadow:0px 0px 12px rgba(0,0,0,.2);
@mixin positions($margin,$border-bottom,$box-shadow,$background){
    margin:$margin;
    border-bottom:$border-bottom;
    box-shadow:$box-shadow;
    background:$background;
}
@mixin po-img($width,$height,$background,$margin,$position,$top,$border-radius,$border){
    width:$width;
    height:$height;
    background:$background;
    margin:$margin;
    position:$position;
    top:$top;
    border-radius:$border-radius;
    border:$border;
}
@mixin po-right($width,$height,$position,$right,$top){
    width:$width;
    height:$height;
    position:$position;
    right:$right;
    top:$top;
}
@mixin h1($font-size,$color,$text-transform,$margin,$padding){
    font-size:$font-size;
    color:$color;
    text-transform:$text-transform;
    margin:$margin;
    padding:$padding;
}
/*banner*/
.banner {
    width: 1000px;
    height: 653px;
    background: transparent;
    margin:38px auto 0px;
    position:relative;
    .banner-img{
        position:relative;
        z-index:10;
        .ban-img{
            position:absolute;
            left:0px;
            top:0px;
        }
        a{
            display:block;
            width:100%;
            height:653px;
            img{
                width:100%;
                height:100%;
            }
        }
    }
    .bg-dibu{
        width:150px;
        height:500px;
        background:#167868;
        position:absolute;
        bottom:46px;
        right:-73px;
        opacity:.9;
    }
    .Circle{
        width:120px;
        height:241px;
        background:url($img-path+"/comlist/bg-yellow.png");
        z-index:5px;
        position:absolute;
        right:-110px;
        bottom:90px;
        cursor:pointer;
        ul{
            width:15px;
            height:120px;
            margin:38px 0px 0px 36px;
            text-align:right;
            .circle{
                width:15px;
                height:15px;
                background:#fff;
                border-radius:50%;
                margin-bottom:15px;
                border:3px solid #fff;
            }
            .first{
                background:none;
            }
        }
    }
    .btn{
        width:100px;
        height:37px;
        background:#fff;
        position:absolute;
        right:-80px;
        bottom:120px;
        border-radius:20px;
        text-align:right;
        cursor:pointer;
        .gt{
            font-size:24px;
            font-family:simsun;
            line-height:37px;
            float:right;
            font-weight:600;
            color:#ffcd1f;
        }
        .pre{
            margin-left:10px;
            margin-right:15px;
        }
    }
    
}
.z-bj-xiao{
    @include square(65px,65px,#ffcd1f);
    opacity:.5;
    position:absolute;
    left:66px;
    bottom:222px;
    z-index:12;
}
.z-bj-da{
    @include square(120px,120px,#ffcd1f);
    opacity:.5;
    position:absolute;
    left:96px;
    bottom:136px;
    z-index:12;
}
.mode{
    @include square(590px,200px,#0FC8F0);
    position:absolute;
    left:48px;
    bottom:52px;
    z-index:12;
    h1{
        @include h1(40px,#fff,uppercase,0px 0px 6px 40px,15px 0px 0px 20px);
    }
    .line{
        @include square(202px,2px,#fff);
        margin-left:60px;
        .line2{
            @include square(20px,4px,#fff);
            position:absolute;
            top:-1px;
        }
    }
    h2{
        @include h1(36px,#fff,uppercase,0px 0px 6px 40px,5px 0px 0px 20px);
    }
    h3{
        @include h1(14px,#fff,uppercase,0px 0px 6px 40px,2px 0px 0px 20px);
    }
}
.mode-ks{
    @include square(900px,199px,transparent);
//  @include bs;
    box-shadow:$box-shadow;
    background:url($img-path+"/comlist/bg-ss.png");
    position:absolute;
    left:223px;
    bottom:-92px;
    z-index:33;
    .head-right{
        @include square(569px,50px,#fff);
        border:1px solid #b6c6ce;
        border-radius:46px;
        margin:69px 61px 0px 0px;
        float:right;
        position:relative;
        overflow:hidden;
        z-index:66;
        .circle-right{
            width:36px;
            height:22px;
            float:left;
            line-height:41px;
            margin:12px 0px 6px 6px;
            border-right:2px solid #606060;
            .last{
                display:inline-block;
                @include yuan(6px,#ffcd1f);
                position:absolute;
                left:5px;
                top:9px;
            }
        }
        .mode-font{
            position:absolute;
            left:42px;
            top:8px;
            line-height:1.8;
            padding-left:10px;
            a{
                font-size:16px;
                color:#b7b7b7;
            }
        }
        
    }
    .head-xz{
        display:block;
        @include square(175px,76px,url($img-path+"/comlist/an-xz.png"));
        float:right;
        background-repeat:no-repeat;
        background-position:30px 10px;
        background-size:145px 64px;
        position:absolute;
        right:38px;
        bottom:-140px;
        margin-top:3px;
        z-index:69;
    }
}
/*head End*/
/*center*/
.center{
    @include square(1200px,auto,transparent);
    margin:130px auto 30px;
    overflow:hidden;
    .center-left{
        @include square(580px,194px,transparent);
        background:url($img-path+"/comlist/huang.png");
        float:left;
        margin-right:39px;
        box-shadow:$box-shadow;
    }
    .center-right{
        @include square(580px,194px,transparent);
        background:url($img-path+"/comlist/lv.png");
        float:left;
        box-shadow:$box-shadow;    
    }
    ul{
        width:442px;
        margin:80px 0px 0px 16px;
        padding:15px 15px 18px 0px;
        li{
            margin:0px 20px 20px;
            float:left;
            a{
                font-size:12px;
            }
        }
    }
}
/*positions*/
.Positions{
    margin:49px auto 12px;
}
.positions{
    @include square(1200px,219px,transparent);
    .po-img{
        @include po-img(133px,133px,url($img-path+"/comlist/b_17.png"),43px 30px 0px 75px,absolute,0px,50%,0px solid #DDDDDD);
        background-position:0px 0px;
        background-size:cover;
    }
    .po-tub{
        padding-left:16px;
        position:absolute;
        left:239px;
        top:0px;
        margin-top:46px;
        li{
            line-height:1.5px;
            margin:26px auto 40px;

            letter-spacing:2px;
            a{
                color:#B2B2B2; 
                font-size:14px;
                text-transform:uppercase;
            }
            &:nth-child(2) a{
                color:#666;
                font-weight:600;
            }
            span.price{
                color:#07B0D5;
                font-size:20px;
                font-weight:900;
            }
            span{
               margin-left:36px;
               font-size:14px;
            }
        }
    }
    .po-right{
        @include po-right(146px,163px,absolute,125px,28px);
        a.top{
            display:block;
            @include square(73px,73px,url($img-path+"/comlist/b_25.png"));
            margin:0px auto;
        }
        p{
            width:100%;
            font-size:18px;
            text-align:center;
            line-height:1.5;
            padding-top:10px;
            color:#6c6c6c;
            span{
                @include square(5px,5px,#6c6c6c);
                letter-spacing:3px;
                background:green;
                margin:0px 15px;
            }
        }
        a.bottom{
            display:block;
            margin:10px auto 0px;
            text-align:center;
            line-height:42px;
            font-size:16px;
            letter-spacing:2px;
        }
    }
}
.positions:nth-of-type(1){
    @include positions($margin,1px solid #0fc6ee,$box-shadow,url($img-path+"/comlist/bg-middle.png"));
    a.bottom{
        @include square(145px,42px,url($img-path+"/comlist/an-h.png"));
    }
}
.positions:nth-of-type(2){
    @include positions(12px auto 12px,1px solid #FBC74B,$box-shadow,url($img-path+"/comlist/bg-middle.png"));
    a.bottom{
        @include square(145px,42px,url($img-path+"/comlist/bg-lan.png"));
    }
    .po-tub{
        li:nth-child(2) a{
            color:#EDC449;
        }
        span.price{
            color:#EDC449;
        }
    }
}
.positions:nth-of-type(3){
    @include positions(12px auto 12px,1px solid #0fc6ee,$box-shadow,url($img-path+"/comlist/bg-middle.png"));
    a.bottom{
        @include square(145px,42px,url($img-path+"/comlist/bg-lan.png"));
    }
}
.po-xk{
    @include square($inner-width,205px,transparent);
    margin:$margin;
    ul{
        @include square(750px,34px,transparent);
        @include center;
        li{
            margin:3px 16px 0px 0px;
            float:left;
            text-align:center;
            a{
                text-transform:uppercase;
                font-size:18px;
                color:#7D7D7D;
                line-height:26px;
            }
        }
        li.first{
            @include square(30px,30px,#438BF8);
            border:1px solid #fff;
            line-height:34px;
            margin:0px 16px 0px 0px;
            z-index:10;
            a{
                color:#fff;
            }
            .border{
                @include square(34px,34px,transparent);
                position:absolute;
                top:-3px;
                left:-3px;
                z-index:0;
                border:2px solid #438BF8;
                border-radius:50%;
            }
        }
        li.div{
            @include square(34px,34px,#438BF8);
            position:absolute;
            left:0px;
        }
//      li.first:after{
//          @include square(34px,34px,#438BF8);
//          border:1px solid #438BF8;
//      }
        li.last{
            background:#438BF8;
            border:1px solid #fff;
        }
        li.last a{
            text-transform:uppercase;
            text-transform:capitalize;
            font-size:16px;
            color:#fff;
            line-height:26px;
        }
        .square{
            @include square(76px,28px,transparent);
            border:1px solid #9E9E9E;
            border-radius:26px;
            
        }
        .circle{
            @include yuan(28px,transparent);
            border:1px solid #9E9E9E;
        }
    }
}
/*display of works*/
.work{
    @include square($inner-width,426px,transparent);
    margin:$margin;
    margin-bottom:49px;
    .work-top{
        @include square($inner-width,49px,transparent);
        .work-left{
            float:left;
        }
        .circle-nav{
            width:60px;
            margin-left:15px;
            .first{
                display:inline-block;
                width:33px;
                height:5px;
                background:#FFCD1F;
                margin:2px 0px;
                border-radius:5px;
            }
            .last{
                display:inline-block;
                @include yuan(6px,#ffcd1f);
                margin:2px 0px 2px 3px;
            }
        } 
        .work-nav{
            margin:0px 30px 0px 15px;
            p{
                font-size:14px;
                color:#575757;
                span{
                    font-size:18px;
                    color:#45b45a;
                }
            }
        }
        .work-icon{
            float:left;
            li{
               margin:4px 29px 0px 0px;
               float:left;
               a{
                   line-height:42px;
                   font-size:16px;
                   margin-left:24px;
                   letter-spacing:2px;
                   &:hover{
                       color:#fff;
                   }
               }
            }
            li:nth-child(1){
               @include square(145px,42px,url($img-path+"/comlist/b_36.png"));
            }
            li:nth-child(2){
               @include square(145px,42px,url($img-path+"/comlist/b_38.png"));
            }
            li:nth-child(3){
               @include square(145px,42px,url($img-path+"/comlist/b_38.png"));
            }
        }
    }
    .work-center{
        @include square($inner-width,350px,transparent);
        ul{
            @include square(100%,auto,transparent);
            margin:$margin;
            overflow:hidden;
            li{
//              @include square(365px,267px,url($img-path+"/comlist/b_44.png"));
                margin:20px 0px 10px 31px;
//              background-repeat:no-repeat;
                float:left;
                img.dt{
                    display:block;
                    width:365px;
                    height:267px;
                }
                .line{
                    position:relative;
                    top:34px;
                    width:80px;
                    border:1px solid #707577;
                    margin:5px;
                    .color{
                        position:absolute;
                        width:15px;
                        border:1px solid #ffcd1f;
                        top:-1px;
                        right:0px;
                    }
                }
                .font{
                    float:left;
                    p{
                        width:265px;
                        margin:3px 5px 6px;
                        font-size:14px;
                        b{
                            font-size:16px;
                        }
                    }
                }
                img.xt{
                    width:77px;
                    height:77px;
                    display:block;
                    float:left;
                    margin-top:5px;
                }
            }
        }
    }
}
//底部
.footer{
    width:100%;
    height:304px;
    background: #2d2d2d;
}
.Dibu{
    width:1200px;
    height:100%;
    margin:0 auto;
    position: relative;
}
.Dbt{
    margin:77px 0 0 58px;
    float:left;
}
.Dsx{
    width:1px;
    height:131px;
    background: #666;
    margin:79px 0 0 66px;
    float:left;
}
.Dian1{
    position: absolute;
    left:198px;
    top:66px;
    color:#eee;
    font-size:16px;
}
.Dian2{
    position: absolute;
    left:198px;
    top:200px;
    color:#eee;
    font-size:16px;
}
.Dgywm{
    width:700px;
    height:auto;
    float:left;
    margin-top:79px;
    margin-left:42px;
}
.Dgywm li a{
    font-size:16px;
    float:left;
    color:#999;
    margin-right:42px;
} 
.Dgywm li a:hover{
    color:#fff;
}
.Dgywm li span{
    color:#666;
}
.Dgywm li p{
    color:#666;
    font-size:14px;
    margin-top:15px;
}
.Dgywm li img{
    margin-top:20px;
    margin-right:22px;
}
.Dlsfk{
    width:142px;
    height:142px;
    background: #25b0ff;
    float:right;
    margin-top:71px;
}