@import "base";
@import url("base.css");
//定义变量
$linkColor:#fff #c00;   //第一个为默认值，第二个是鼠标滑过的值
/*header*/
.header{
    width:$inner-width;
    height:70px;
    background:#0C4F69;
    margin:$margin;
    .logo{
        width:80px;
        height:100%;
        background:red;
        @include img-center;
        
    }
}
a{
    font-size:12px;
    color:nth($linkColor,1);
    &:hover{
        color:nth($linkColor,2);
    }
}
