@import "base";
$Bcolor:#46b45b;
$Bcolor2:#35a2ff;
$Bcolor3:#dedede;
@mixin margin{
    margin-left: auto;
    margin-right: auto;
}
.Bcontent{
    width: $inner-width;
    height: auto;
    background: #fff;
    margin: {
        left:auto;
        right:auto;
        top:143px;
    };
    overflow:hidden;
    &>.hx{
        width: 980px;
        height: 1px;
        background: #b9b9b9;
        float:right;
        margin-right: 5px;
    }
    &>.zuopin{
        width: 100%;
        height: 40px;
        float: left;
        &>.left{
            float:left;
            height: 100%;
            width: 400px;
            text-align: left;
            
        }
    }
    
}
.left img{
    margin-top: 9px;
    float: left;
}
.left span:first-of-type{
    float: left;
    font-size: 32px;
    font-family: "微软雅黑";
    color: $Bcolor;
    margin-top: 2px;
}
.left span{
    float: left;
    font-family: "微软雅黑";
   font-size: 14px;
   color:#727272;
   margin-top: 21px;
   font-weight: 500;
}
.mianbao{
    float:right;
    height: 100%;
    width: auto;
    overflow: hidden;
    color: #8d8d8d;
    font-size: 12px;
    img{
      float:left;      
      margin-top:18px;
    }
   a{
        padding:23px 5px 0;
        line-height:100%;
         float:left;  
         color: #8d8d8d;   
    }
    a:first-of-type{
        color:$Bcolor2;
        float:left;
        line-height:100%;
        padding:23px 5px 0;
    }
    span{
        line-height:100%;
        padding:23px 5px 0;
        float:left; 
        color: #8d8d8d; 
        font-family: "consolas";   
       
    }
}
.summary{
    width: $inner-width;
    height: 160px;
    margin: {
        top:50px;
        left: auto;
        right: auto;
    };
    .left{
        width: 200px;
        height:auto;
        float: left;
        margin-top: 70px;
        overflow: hidden;
    }
    .right{
        width: auto;
        height: auto;
        float: right;
        margin-top: 62px;
        overflow: hidden;
    }
}
.ready{
    position: relative;
    width: $inner-width;
    height: 910px;
    border-top:1px dashed #dedede;
    border-bottom:1px dashed #dedede;
    @include margin;
    padding: 40px 0;
    box-sizing: border-box;
    .yuan1{
        @include yuan(5px,$Bcolor3);
        position: absolute;
        top:-3px;
        left: -3px;
    }
    .yuan2{
        @include yuan(5px,$Bcolor3);
        position: absolute;
        top:-3px;
        right: -3px;
    }
    .one{
        width: 100%;
        height: 360px;
        float: left;
        .tu1{
            float: left;
            width: auto;
            height: auto;
        }
        .word{
            float: left;
            width: auto;
            height: auto;
            p{
                width: 578px;
                height: auto;
                margin-top: 20px;
                padding-left: 65px;
                box-sizing: border-box;
                font-size: 12px;
                color: #939393;
            }
        }
    }
    .two{
        float: left;
        width: 100%;
        height: auto;
        margin-top: 75px;
        .tu1{
            float: left;
            width: auto;
            height: auto;
            margin-left: -10px;
        }
        .tu2{
            float: left;
            width: 820px;
            height: 293px;
            position: relative;
            .video,{
                font-size: 22px;
                margin-left: 20px;
                background: transparent;
                line-height: 40px;
            }
            #tu1{
                margin-left: 20px;
                margin-top: 10px;
            }
            .like{
                margin-top: 20px;
                margin-left: 20px;
                display: block;
            }
        }
    }
}
#tu2{
    position: absolute;
    left: 250px;
    top:60px;
}
#tu3{
    position: absolute;
    right: -101px;
    top:100px;
}
